html, body{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Lato', 'Noto Sans', 'Helvetica', 'Corbel', sans-serif, 'Helvetica', 'Corbel', sans-serif;
    font-size: 12pt;
}

h1{
    font-size: 4rem;
    font-family: 'Source Serif Pro', 'Noto Serif', serif !important;
    margin: 0;
    padding: 0;
    color: #404040;
}



p {
    margin-top: 0;
}

p {
    line-height: 180%;
}

ol, ul{
    padding: 0;
    list-style: none;
}

.container{
    /* Set width of container to
        1200px and align center */
    margin: 0px auto;
    width: 1200px;
}

header {
    overflow: hidden;
}

#top-header{
    text-align: center;
    /*height:60px;*/
    border-bottom: solid 1px slategrey;
}

.logo{
    /*float:left;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*display: block;*/
    text-align: center;
    /*height: 60px;*/
    width:100%;
    /*height: 100%;*/
    height: 50px;
    /*position: relative;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*flex-direction: column;*/
}

.logo img{
    /*float:right;*/
    width:50%;
    /*height:30%;*/
    /*position: absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*left: 50%;*/
    display: block;
    margin:auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*bottom:0;*/
    vertical-align: bottom;

}


#menu{
    /*float:center;*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#menu .search-bar{
    position: relative;
}

::placeholder {
    color: #1865f2;
}

#menu .search-bar .search-icon{
    position:absolute;
    /*padding-right:10px;*/
    right:40px;
    top:5px;
    color: darkgray;
}

#menu ul{
    text-align: center;
    /*float: right;*/
    /*margin: 0;*/
}

#menu li{
    /*font-size: 5px;*/
    display: inline-block;
    /*vertical-align: bottom;*/
    padding:0;
    margin:0;
    color: #1865f2;
}

#menu li a,
#menu li form,
#menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    /*vertical-align: middle;*/
    /*line-height: 60px;*/
}

input{
    background-color: rgb(227, 229, 230);
    border: none;
}

.container img{
    max-width: 100%;
}

section .right_content{
    /*line-height: 100%;*/
    margin-top: 10%;
}

.right_content .summary{
    margin: 30px auto;
}

.right_content > h1{
    font-weight: 500;
    line-height: 90%;
}

.right_content h3{
    font-size: 18px;
    line-height: 30px;
}

.right_content .category .btn{
    font-weight: 600;
}
