html, body{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Lato', 'Noto Sans', 'Helvetica', 'Corbel', sans-serif, 'Helvetica', 'Corbel', sans-serif;
    font-size: 12pt;
}

h1{
    font-size: 4rem;
    font-family: 'Source Serif Pro', 'Noto Serif', serif !important;
    margin: 0;
    padding: 0;
    color: #404040;
}



p {
    margin-top: 0;
}

p {
    line-height: 180%;
}

ol, ul{
    padding: 0;
    list-style: none;
}

.container{
    margin: 0px auto;
    width: 1200px;
}

header {
    overflow: hidden;
}

#top-header{
    text-align: center;
    border-bottom: solid 1px slategrey;
}

.logo{
    text-align: center;
    width:100%;
    height: 50px;
}

.logo img{
    width:50%;
    display: block;
    margin:auto;
    vertical-align: bottom;

}


#menu{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#menu .search-bar{
    position: relative;
}

::placeholder {
    color: #1865f2;
}

#menu .search-bar .search-icon{
    position:absolute;
    right:40px;
    top:5px;
    color: darkgray;
}

#menu ul{
    text-align: center;
}

#menu li{
    display: inline-block;
    padding:0;
    margin:0;
    color: #1865f2;
}

#menu li a,
#menu li form,
#menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
}

input{
    background-color: rgb(227, 229, 230);
    border: none;
}

.container img{
    max-width: 100%;
}

section .right_content{
    margin-top: 10%;
}

.right_content .summary{
    margin: 30px auto;
}

.right_content > h1{
    font-weight: 500;
    line-height: 90%;
}

.right_content h3{
    font-size: 18px;
    line-height: 30px;
}

.right_content .category .btn{
    font-weight: 600;
}
